/* Estilos globales */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #111;
    color: #fff;
  }
  
  .container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
  }
  
  /* Header */
  header {
    background-color: #000;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  }
  
  .logo {
    color: #00ff00;
    font-size: 2rem;
    font-weight: 600;
    transition: transform 0.3s ease;
  }
  
  .logo:hover {
    transform: scale(1.1);
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  nav ul li a {
    color: #00ff00;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #00b300;
    transform: scale(1.1);
  }
  
  /* Hero Section */
  #hero {
    height: 80vh;
    background: linear-gradient(to bottom right, #0b3d0b, #000);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  #hero h2 {
    font-size: 4rem;
    color: #00ff00;
  }
  
  #hero p {
    font-size: 1.5rem;
    color: #d4d4d4;
  }
  
  /* Cards Section */
  #cards {
    padding: 50px 0;
  }
  
  .card {
    background-color: #1a1a1a;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 15px 30px rgba(0, 255, 0, 0.2);
  }
  
  .card h3 {
    color: #00ff00;
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  
  .card p {
    color: #b3b3b3;
    font-size: 1rem;
  }
  
  .btn {
    display: inline-block;
    background-color: #00ff00;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .btn:hover {
    background-color: #00b300;
    transform: scale(1.1);
  }
  
  /* Footer */
  footer {
    background-color: #000;
    text-align: center;
    padding: 20px;
    color: #00ff00;
  }
  